[submodule "Miller-Media/pragmatic_quickbooks_connector"]
	path = Miller-Media/pragmatic_quickbooks_connector
	url = git@github.com:Miller-Media/pragmatic_quickbooks_connector.git
	branch = master

[submodule "Miller-Media/odoo-skuvault-connector"]
	path = Miller-Media/odoo-skuvault-connector
	url = git@github.com:Miller-Media/odoo-skuvault-connector.git
	branch = odoo-13
